<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.an9elkiss.api.spp.dao.QuotationDailyDao">

	<resultMap id = "dailySortAds" type = "DailySortAds">
		<result property = "ts_code" column = "ts_code"/>
		<result property = "pct_chg" column = "pct_chg"/>
		<result property = "sort" column = "sort"/>
	</resultMap>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_ts_daily
		(
			<foreach collection="fields" item="field" index="index" separator="," >  
                `${field}`
            </foreach>
		)
		VALUES
		(
			<foreach collection="item" item="itemValue" index="index" separator="," >  
                #{itemValue} 
            </foreach>
		);
	</insert>

	<insert id="batchSave" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_ts_daily
		(
		<foreach collection="fields" item="field" index="index" separator="," >
			`${field}`
		</foreach>
		)
		VALUES
		<foreach collection="items" item="item" index="index" separator="," >
			(
			<foreach collection="item" item="itemValue" index="index" separator="," >
				#{itemValue}
			</foreach>
			)
		</foreach>
		;
	</insert>
	
	<update id="update" parameterType="com.an9elkiss.api.spp.model.QuotationDaily">
		UPDATE t_ts_daily
		SET ts_code=#{ts_code}
		<if test="fina_indicator_id!=null">
			, fina_indicator_id = #{fina_indicator_id}
		</if>
		WHERE ts_code=#{ts_code}
		AND trade_date=#{trade_date}
	</update>

	<select id="count" parameterType="QuotationDaily" resultType="Integer">
		SELECT count(*)
		FROM t_ts_daily
		WHERE 1 = 1
		<if test="ts_code!=null and ts_code!=''">
			and ts_code = #{ts_code}
		</if>
	</select>

	<select id="sortByPctChg" parameterType="DailySortAdsCmd" resultMap = "dailySortAds">
		SELECT d.ts_code,sum(d.pct_chg) as pct_chg
		FROM t_ts_daily d, t_ts_stock_basic b
		WHERE d.trade_date >= #{date} AND d.trade_date <![CDATA[<]]> #{to}
		AND d.ts_code = b.ts_code
		AND b.market = #{market}
		GROUP BY d.ts_code
		ORDER BY sum(d.pct_chg) DESC;
	</select>
	
</mapper>